DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
SMTP_HOST="smtp.orange.fr"
SMTP_PORT="465"
SMTP_USER="kevin.bertrand734@orange.fr"
SMTP_PASS="your_smtp_password"
EMAIL_RECIPIENT="kbertrand512@gmail.com"